@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
*{
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #212529;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin-bottom: 15rem;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-top: 2rem;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

a{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.nav-list{
    margin-top: 2rem;
    list-style: none;
    display: flex;
}

.nav-list li{
    margin-left: 35px;
}

article{
    padding-right: 18rem!important;
    padding-left: 18rem!important;
    background-color: #212529;
    display: block;
}

.title-helcome{
    text-align: center;
    color: white;
    font-family: 'Gruppo', cursive;
    font-size: 80px;
    margin-bottom: 2rem;
    letter-spacing: 20px;
    text-shadow: 3px 4px 10px rgba(109, 103, 103, 0.568);
}

/*@keyframes float{

    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(0%);
    }
}*/

.p-helcome{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 26px;
    text-align: center;
    margin-bottom: 3rem;
    text-shadow: 3px 4px 10px rgba(109, 103, 103, 0.568);
}

.btn-helcome{
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: #212529;
    border-radius: 5px;
    text-align: center;
    transition: 0.6s;
    text-shadow: none;
    margin: 22.4rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.btn-helcome:hover{
    opacity: 0.7;
}

.pagSobre{
    width: 100%;
    background-color: white;
    height: 400px;
    margin-top: 20rem;
    margin-bottom: 11rem;
    padding: 80px 60px 0px 60px;
    box-sizing: border-box;
}

.nameSob{
    font-family: 'Gruppo', cursive;
    color: #212529;
    font-size: 50px;
    margin-bottom: 2rem;
    text-shadow: 3px 4px 10px rgba(189, 181, 181, 0.568);
}

.pagSobre p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 24px;
    text-align:justify;
}

.pagSobre label{
    font-weight: 500;
    color: #212529;
    text-decoration: underline 3px rgb(172, 168, 168);
}



